<article class="webinar-article" id="webinar-{{ webinar.id }}">
    <h3 class="sr-only" inert>{{ webinar.title }}</h3>
    <a href="/webinars/{{ webinar.slug }}">
        <div class="webinar-thumbnail">
            <picture>
                <source
                  srcset="
                    https://fdnd-agency.directus.app/assets/{{ webinar.thumbnail }}?format=avif&width=200 200w,
                    https://fdnd-agency.directus.app/assets/{{ webinar.thumbnail }}?format=avif&width=300 300w,
                    https://fdnd-agency.directus.app/assets/{{ webinar.thumbnail }}?format=avif&width=400 400w,
                    https://fdnd-agency.directus.app/assets/{{ webinar.thumbnail }}?format=avif&width=500 500w,
                  "
                  sizes="
                    (max-width: 200px) 200px,
                    (max-width: 300px) 300px,
                    (max-width: 400px) 400px,
                    (max-width: 500px) 500px
                  "
                  type="image/avif" 
                />
                <img 
                  src="https://fdnd-agency.directus.app/assets/{{ webinar.thumbnail }}?format=png&width=400" 
                  alt="" 
                  width="16"
                  height="9"
                  class="webinar-img" 
                  loading="eager"
                />
            </picture>
            <p class="duration-btn">{{ webinar.duration }}</p>
        </div>
        <div class="webinar-info">
            {% for category in webinar.categories %}
                <p class="category-btn">
                    {% assign words = category.avl_categories_id.name | split: " " %}
                    {% for word in words %}
                      {{ word | capitalize }}{% if forloop.last == false %} {% endif %}
                    {% endfor %}
                  </p>
            {% endfor %}

            <h3>{{ webinar.title | truncatewords: 4 }}</h3>

            {% for speaker in webinar.speakers %}
                <p class="speaker">{{ speaker.avl_speakers_id.fullname }}</p>
            {% endfor %}

            <div class="webinar-link">
                View webinar
                <img src="/assets/icons/arrow-webinar.svg" alt="" width="20" height="20">
            </div>
        </div>
    </a>
    
    <form method="post" action="{% if request.path == '/bookmarks' %}/bookmarks{% else %}/webinars{% endif %}" class="webinar-form" data-enhanced="form-{{ webinar.id }}">
        <input type="hidden" name="textField" value="{{ webinar.id }}">
        <input type="hidden" name="forField" value="Bookmark for Julia">
        <input type="hidden" name="_method" value="{% if bookmarkedIds contains webinar.id %}DELETE{% else %}POST{% endif %}">
        
        {% if bookmarkedIds contains webinar.id %}
            <button type="submit" class="bookmark-btn highlight-btn delete-btn">
                <img src="/assets/icons/bookmarks-blue-marked.svg" alt="" width="20" height="40">    
                <span>Bookmarked</span>
            </button> 
        {% else %}
            <button type="submit" class="bookmark-btn highlight-btn">
                <img src="/assets/icons/bookmarks-blue.svg" alt="" width="20" height="40">
                {% comment %} {% include "public/assets/icons/bookmarks-blue.liquid" %} {% endcomment %}
                <span>Bookmark</span>
            </button>
        {% endif %}
    </form>
</article>